@font-face {
  font-face-name: 'Nunito';
  src:
    url('assets/webfonts/Nunito.ttf') format('truetype'),
    url('assets/webfonts/Nunito.woff') format('woff'),
    url('assets/webfonts/Nunito.woff2') format('woff2');
}

* {
  font-family: 'Nunito', monospace !important;
  font-size: 16px;
}

:root {
  --primary-color: #22092c;
  --primary-color-transparent: rgba(34, 9, 44, 0.79);
  --secondary-color: #872341;
  --accent-color: #e2dfd0;
  --highlight-color: #adaa9e;

  --disabled-accent-color: #5e5d56;
  --disabled-text-color: #b8b7b1;

  --border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--primary-color-transparent);
  }
}

.main-layout {
  display: flex;
}

.menu {
  width: fit-content;
  height: 100vh;
  border-right: 1px solid var(--accent-color);
}

.container {
  flex: 1;
  padding: 20px;
  background-color: var(--secondary-color);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--accent-color);
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.inline-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
