@font-face {
  font-face-name: 'Nunito';
  src:
    url('assets/webfonts/Nunito.ttf') format('truetype'),
    url('assets/webfonts/Nunito.woff') format('woff'),
    url('assets/webfonts/Nunito.woff2') format('woff2');
}

* {
  font-family: 'Nunito', monospace !important;
  font-size: 16px;
}

:root {
  --primary-color: #22092c;
  --secondary-color: #872341;
  --accent-color: #e2dfd0;
  --highlight-color: #adaa9e;

  --border-radius: 8px;
}

body {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

button {
  background-color: var(--accent-color);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover {
  background-color: var(--highlight-color);
  color: white;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--accent-color);
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.inline-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
