@font-face {
    font-face-name: "Nunito";
    src: url("assets/webfonts/Nunito.ttf") format("truetype"),
    url("assets/webfonts/Nunito.woff") format("woff"),
    url("assets/webfonts/Nunito.woff2") format("woff2");
}

* {
    font-family: "Nunito", monospace !important;
}
